:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(49, 51, 71, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 27px;
    padding: 5px;
    border: 0px;
    border-radius: 2px;
    transition: transform 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}
